/* Topic.css */

.topic-container {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    font-size: 25px;
    gap: 10px;
}

.top{
    border: none;
    padding: 10px;
    cursor: pointer;
    position: relative;
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
    width: 1000px;
    transition: width 1s ease-in-out;
}

.topic {
    border: none;
    padding: 10px;
    cursor: pointer;
    position: relative;
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
    width: 25%;
    transition: width 1s ease-in-out;
}

/* .topic.animate-in {
    width: 25%;
    /* Increase width when children are visible */
/* } */

.topic.animate-out {
    width: 40%;
    /* Reset width when children are hidden */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.topic.fade-out {
    animation: fadeOut 0.5s ease-in-out forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.topic.active:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid transparent;
    background-size: 100% 100%;
    border-radius: 10px;
}